<div>

    <div class="issue_header">
    <h1>{{ issue.title }}</h1>
        <span>Project {{project.name }}</span>
    </div>

    <div class="details">
        <h3>Details</h3>
        <div><strong>Status:</strong> {{ issue.status }}</div>
        <div><strong>Type:</strong> {{ issue.type }}</div>
        <div><strong>Priority:</strong> {{ issue.priority }}</div>
        <div><strong>Major:</strong> {{ issue.major }}</div>
        <div><strong>Asignee:</strong> {{ issue.assignee }}</div>
        <div><strong>Created at: </strong>{{ issue.created_at }}</div>
        <div><strong>Updated at: </strong>{{ issue.updated_at }}</div>
    </div>
    <div>
        <h3>Description</h3>
        <div class="description">{{ issue.description }}</div>
    </div>

    <div class="comments">
        <h3>Comments</h3>
        <div class="comment" ng-repeat="comment in comments.data">
            {{ comment.message }}
            {{ comment.autor }}
            {{ comment.created_at }}
        </div>
    </div>
    <div class="new-comment">
        <form>
            <textarea type="text" ng-model="new_comment.message"></textarea><br />
            <input type="hidden" ng-model="new_comment.project_id">
            <button ng-click="add_comment(new_comment)">SAVE</button>
        </form>
    </div>
</div>
